<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>RightScale</title>
    <link rel="stylesheet" href="/css/application.css" />
  </head>
  <body>
    <%= yield %>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/underscore.min.js"></script>
    <script src="/js/backbone.min.js"></script>
    <script src="/js/handlebars.js"></script>
    <script src="/js/handlebars.helpers.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/models.js"></script>
    <script src="/js/views.js"></script>
    <script src="/js/router.js"></script>

    <!-- templates -->
    <script id="home-template" type="text/x-handlebars-template">
      <ul id="people_list"></ul>
      <div id="edit_user_container"></div>

      <div id="add_person_container">
        <form>
          <input id="input_name" type="text" />
          <button id="create_person">Create</button>
        </form>
      </div>
    </script>

    <script id="person-row-template" type="text/x-handlebars-template">
      <li id="person-{{id}}">
       {{name}}: <span class="current_selection">{{#if selection_id}}{{selection.value}}{{else}}<strong>Unset</strong>{{/if}}</span>
       <a href="#" class="edit_user" data-person-id="{{id}}">Edit</a>
       <div class="edit_form_container" style="display:inline"></div>
      </li>
    </script>

    <script id="person-edit-form-template" type="text/x-handlebars-template">
      <select>
       {{#each data.selections}}
         <option value="{{id}}" {{#if_eq ../data.person.selection_id compare=id}}selected="selected"{{/if_eq}}>{{value}}</option>
       {{/each}}
      </select>
      <span class="btn_container">
        <a href="#" class="save_button" data-person-id="{{data.person.id}}">Save</a> <a href="#" class="cancel_button" data-person-id="{{data.person.id}}">Cancel</a>
      </span>
    </script>
  </body>
</html>